@font-face {
    font-family: STITCHLAND1;
    src: url(/STITCHLAND1.otf);
  }
  
  div.fonttest {
    font-family: STITCHLAND1;
  }

h1{
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    text-align: center;

}

div.section1{
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    
}

div.section2{
    background-color: burlywood;
    color: yellowgreen;
    width: 100%;
    height: 50px;
}

h1{
    background-color: whitesmoke;
    color: blue;
}

.PARA{
    color: red;
    font-family: STITCHLAND1;
    font-size: 50px;
    text-align: center;
}

div.redlog{
    float: left;
    border: solid black 10px;
    }
    
    body{
        background-color: black;
    }